@import url('https://fonts.googleapis.com/css?family=AmericanTypewriter');

$primary-blue: #214395;
$primary-orange: #f96700;

.navbar {
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  h1 {
    margin: auto;
    padding: auto;
    color: $primary-orange;
    text-shadow: #e0e0e0 1px 1px 0, 2px 2px 2px rgba(0,0,0,0);
    font-family: "AmericanTypewriter", Arial, Helvetica, sans-serif
  }
}

.img-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;

  img {
    width: 50%;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  }
}

.quote-holder {
  width: 100%;
  text-align: center;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(247, 245, 245);
  margin-top: 50px;
  margin-bottom: 16px;
  padding: 5px 5px 15px 5px;
  color: darkgrey;
}

.bar-button {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;

  :hover {
    cursor: pointer;
  }

  svg {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
}

.left-bar {
  background-color: $primary-blue;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top:0;
  left: -100%;
  transition: 850ms;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);

  .bar-button {
    color: #fff;

    :hover > & {
      text-shadow: 3px 3px 3px black;
      cursor: pointer;
    }
  }
}

.left-bar.active {
  left: 0;
  transition: 350ms;
}

.right-bar {
  background-color: #fff !important;
  opacity: 1;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top:0;
  right: -100%;
  transition: 850ms;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);

  .sidebar-toggle {
    background-color: #fff;
  }

  .bar-button {
    color: black;

    :hover > & {
      text-shadow: 2px 2px 2px lightgray;
      cursor: pointer;
    }
  }
}

.right-bar.active {
  right: 0;
  transition: 350ms;
}

.sidebar-list-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 80px;

  strong {
    padding-right: 1em;
  }
}

.sidebar-list-item span:hover {
  background-color: rgba(26, 131, 255, 0.3);
}

.left-bar-list {
  width: 100%;

  span {
    color: #fff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
}

.right-bar-list {
  width: 100%;

  span {
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
}

.sidebar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}


