$breakpoint-desktop: 1350px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

body {
  min-width: $breakpoint-desktop;
  max-width: $breakpoint-desktop;
}

#main {
  display: flex;
  padding-right: 90px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#footer {
  display: flex;
  margin: auto;
  padding: auto;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
